.section{
    display: flex;
    flex-direction: row;
}
.container1{   
    height: 500px;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    margin-top: 100px;
    color: white;
    text-align: start;
}
.container1 {
    margin-left: 250px;
    position: relative;
}

.container1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../public/container-bg.webp');
    background-position: end;
    background-size: cover;
    opacity: 0.7; /* Adjust the opacity value (0 to 1) for the image */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

#city,#country{
    color: #fff;
    padding: 5px;
    margin-left: 10px;
}

.section .head {
    position: absolute;
    margin-left: 250px;
    margin-top: 50px;
    height: 50px;
    width: 800px;
    padding: 15px;
    font-size: 22px;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.8);
    color: #bbbbbb;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    z-index: 1;
    border-bottom: 0.4px solid #838282;
    display: flex;
    align-items: center;
}

.section .head p {
    margin: 0; 
}

.datetime-content{
    display: flex;
    margin-top: 50px;
    padding: 10px;
}
#degree{
    font-size: 50px;
    padding: 5px;
 margin: 0;
}
.datetime-content #date{
    color: #c7c7c7;
    font-size: 20px;
}
.datetime-content #time{
    color: #e2e2e2;
    font-size: 25px;
    letter-spacing: 5px;
    margin-left: 15px;
}
.weather-info{
    margin-left: 150px;
}
.weather-info .weather-type{
    margin: 10px;
}
